{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {{ super() }}
    {% endblock %}
</head>
<body>
    {% block sidebar %}
        {{ super() }}
    {% endblock %}
    {% block body %}
        <form action="{{ url_for('match') }}" method="post">
            <details>
                <summary>Registro</summary>
                <label>Iniciales del scouter</label><br>
                <input type="text" name="data[]"><br>
                <label>Numero del equipo</label><br>
                <input type="number" name="data[]"><br>
                <label>Numero de match</label><br>
                <input type="number" name="data[]"><br>
            </details>
            <details>
                <summary>Match</summary>
                <div>
                    <h5>Autonomo</h5>
                    <label>Aciertos</label><br>
                    <input type="number" name="data[]"><br>
                    <label for="data[]">Intentos</label><br>
                    <input type="number" name="data[]"><br>
                </div>
                <div>
                    <h5>TeleOp</h5>
                    <label>Aciertos</label><br>
                    <input type="number" name="data[]"><br>
                    <label>Intentos</label><br>
                    <input type="number" name="data[]"><br>
                </div>
                <div>
                    <h5>End game</h5>
                    <label>Aciertos</label><br>
                    <input type="number" name="data[]"><br>
                    <label>Intentos</label><br>
                    <input type="number" name="data[]"><br>
                </div>
            </details>
            <details>
                <summary>Preguntas</summary>
                <label>Comentarios</label><br>
                <input type="text" name="data[]"><br>
            </details>
            <button type="submit">Ingresar</button>
        </form>
    {% endblock %}
</body>
</html>