details {
    text-align: center;
    color: rgba(241, 241, 241, 0.909);
}
body {
    background-color: rgba(26, 9, 119, 0.951);
}
label {
    color: rgb(0, 0, 0);
}
input {
    color: rgb(0, 0, 0);
}
button {
    color: rgba(255, 255, 255, 0.93);
}
h1 {
    color: rgb(255, 255, 255);
}
p {
    color: white;
}
summary {
    color: white;
}